<app-header title="Card"></app-header>

<ion-content padding>

  <ion-card mode="ios" color="primary">
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item color="primary">
      <ion-icon color="light" name="pin" slot="start"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>

    <ion-card-content>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae sequi iusto tempore fugit saepe assumenda dolorum iste dolores sint odit soluta quos tempora nemo ab, provident quisquam possimus consequuntur animi!</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-img src="assets/shapes.svg"></ion-img>
    <ion-card-content>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem aliquid ipsam repudiandae? Ipsa quis, velit minus porro atque consequatur, sunt in provident accusantium, beatae magnam cumque laboriosam magni vel a?</ion-card-content>
  </ion-card>

</ion-content>
